* {
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
}

.page {
    width: 70%;
    
    .page-wrap {
        margin-right: 15px;
        box-shadow: 0 0 4px 2px #00000054;
        min-height: 600px;
        padding: 15px;
    }
}